 p {
     marign: 0 auto;
 }
.my_info{
    font-family:Microsoft YaHei;
     margin-left: 4em;
    margin-bottom: 2em;
}
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: normal;
 }

 .info_contain {
     margin: 0 auto;

 }

 .my_form {
     padding-bottom: 3em;
     margin-left: 4em;

 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: normal;
 }

 label {
     font-size: 1em;
 }

 input,
 textarea {
     display: block;
 }

 textarea {
     resize: none;
     width: 40%;
     height: 5em;
 }

 .my_form input {
     width: 40%;
     height: 2.5em;
 }
